@import "../../../color-variables.scss";

.btn{
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: $secondary-color;
  }

  &.small{
    padding: 7px 12px;
    font-size: 15px;
  }

  &.medium{
    padding: 10px 15px;
    font-size: 18px;
  }
}
