@import "../../../color-variables.scss";

.btn{
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.medium{
    padding: 3px 5px;
    font-size: 13px;
  }

  &.medium{
    padding: 7px 10px;
    font-size: 16px;
  }
}
