@import "../../../color-variables.scss";

.btn{
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.small{
    padding: 5px 10px;
    font-size: 14px;
  }

  &.medium{
    padding: 8px 15px;
    font-size: 18px;
  }
}
