<app-screen-modal *ngIf="isScreenActive" (cancel)="toggleScreenVisible()" [isEditMode]="isEditMode" [selectedProduct]="selectedProduct!" [categories]="categories"/>
<app-screen-modal-del *ngIf="isDelScreenActive" [selectedProduct]="selectedProduct!" (cancel)="toggleDelScreenVisible()"/>

<main>
  <div class="div-info">
    <h2>Produtos</h2>
    <app-button btn-text="Novo Produto" variant="medium" (click)="toggleScreenVisible()" />
  </div>
  <div class="table-container">
    <article>
      <div class="row-table" *ngFor="let product of filteredProducts">
        <div class="value-table">{{ product.name }}</div>
        <div class="value-table">R$ {{ product.price }}</div>
        <div class="value-table category" [class]="product.category">{{ product.category }}</div>
        <div class="value-table">{{ product.amount }} produtos</div>
        <div class="value-table">{{ product.supplier }}</div>
        <div class="value-table"><img src="../../../assets/icon-edit.png" class="icon" (click)="editProduct(product)"></div>
        <div class="value-table"><img src="../../../assets/icon-delete.png" class="icon" (click)="deleteProduct(product)"></div>
      </div>
    </article>
  </div>
</main>
